<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wfahle.hlog"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.wfahle.hlog.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wfahle.hlog.ConfigActivity"
            android:label="@string/title_activity_config"
            android:parentActivityName="com.wfahle.LogActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wfahle.LogActivity" />
        </activity>
        <activity
            android:name="com.wfahle.hlog.LogActivity"
            android:label="@string/title_activity_log"
            android:parentActivityName="com.wfahle.hlog.MainActivity"
            android:windowSoftInputMode="stateUnchanged" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wfahle.hlog.MainActivity" />
        </activity>
        <activity
            android:name="com.wfahle.hlog.EntryActivity"
            android:label="@string/title_activity_entry" 
            android:windowSoftInputMode="stateUnchanged">
        </activity>
        
        <provider
            android:exported="false"
            android:name=".contentprovider.QSOContactProvider"
            android:authorities="com.wfahle.hlog.contentprovider" >
        </provider>
        
    </application>

</manifest>
